@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


body, html,.container, .row,.col-auto, #reloj {
    width: 100%;
    height: 90%;
    font-family: 'Silkscreen', cursive;
}

h1 {

    text-align: center;
}

#reloj {
    background-image: url("./assets/reloj.png");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    justify-content: center;
    background-position: center;
    align-items: center;
    display: flex;
}